In [1]:
# patterns in python

In [3]:
for i in range(5):
    for j in range(5):
        print("*",end=" ")
    print("")

* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [5]:
for i in range(5):
    for j in range(5):
        print(i,end = ' ')
    print()

0 0 0 0 0
1 1 1 1 1
2 2 2 2 2
3 3 3 3 3
4 4 4 4 4

In [13]:
for i in range(5):
    for j in range(5):
        print(j,end = ' ')
    print()

0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4
0 1 2 3 4

In [8]:
n = int(input('enter the no of rows'))
for i in range(n+1):
    for j in range(n+1):
        print(chr(65+i),end = ' ')
    print()

enter the no of rows5
A A A A A A
B B B B B B
C C C C C C
D D D D D D
E E E E E E
F F F F F F

In [9]:
n = int(input('enter the no of rows :'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+j),end = ' ')
    print()

enter the no of rows :5
A B C D E
A B C D E
A B C D E
A B C D E
A B C D E

In [11]:
n = int(input('enter the no. of rows'))
for i in range(n,0,-1):
    for j in range(n,0,-1):
        print(i,end =' ')
    print()
#for i in range(n):
#    for j in range(n):
#        print(n-i,end=" ")
#    print("")

enter the no. of rows5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [18]:
n = int(input('enter the no of rows:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n+1-i,end=' ')
    print()

enter the no of rows:5
5 5 5 5 5
4 4 4 4 4
3 3 3 3 3
2 2 2 2 2
1 1 1 1 1

In [13]:
n = int(input('enter the no of rows:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(n+1-j,end=' ')
    print()
#for i in range(1,n+1):
#    for j in range(1,n+1):
#        print(n+1-j,end = " ")
#    print("")

enter the no of rows:5
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1
5 4 3 2 1

In [16]:
n = int(input('enter the no of rows:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+n+1-j),end = ' ')
    print()
#for i in range(1,n+1):
#for j in range(1,n+1):
#        print(chr(64+(n+1)-j),end=" ")
#    print(" ")

enter the no of rows:5
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A
E D C B A

In [21]:
n = int(input('enter the no of rows:'))
for i in range(1,n+1):
    for j in range(1,n+1):
        print(chr(64+n+1-i),end = ' ')
    print()

enter the no of rows:5
E E E E E
D D D D D
C C C C C
B B B B B
A A A A A

In [23]:
n = int(input('enter the no. of rows :'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end = ' ')
    print()

enter the no. of rows :5
*
* *
* * *
* * * *
* * * * *

In [26]:
for i in range(1,n+1):
    print('*'*i)

*
**
***
****
*****

In [19]:
n = int(input('enter the no. of rows:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i,end = ' ')
    print()
#for i in range(1,n+1):
#    for j in range(1,i+1):
#        print(i,end=" ")
#    print("")
#for i in range(1,n+1):
#    for j in range(1,i+1):
#        print(j,end=" ")
#    print("")

enter the no. of rows:5
1
2 2
3 3 3
4 4 4 4
5 5 5 5 5

In [28]:
n = int(input('enter the no. of rows:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()

enter the no. of rows:5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

In [28]:
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i+j-1,end = ' ')
    print()

1
2 3
3 4 5
4 5 6 7
5 6 7 8 9

In [29]:
x = 1
for i in range(1,n+1):
    for j in range(1,i+1):
        
        print(x,end = ' ')
        x =x+1
    x = x-1
    print()

1
1 2
2 3 4
4 5 6 7
7 8 9 10 11

In [30]:
x = 1
for i in range(1,n+1):
    for j in range(1,i+1):
        
        print(x,end = ' ')
        x =x+1
    print()

1
2 3
4 5 6
7 8 9 10
11 12 13 14 15

In [24]:
n = int(input('enter the no. of rows:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+i),end = ' ')
    print()

enter the no. of rows:5
A
B B
C C C
D D D D
E E E E E

In [31]:
n = int(input('enter the no. of rows:'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(chr(64+j),end = ' ')
    print()

enter the no. of rows:5
A
A B
A B C
A B C D
A B C D E

In [32]:
n = int(input('enter the no. of rows:'))
for i in range(1,n+1):
    for j in range(1,n+1-i):
        print('*',end = ' ')
    print()
for i in range(1,n+1):
    for j in range(1,(n-i+1)):
        print("*",end = " ")
    print(" ")

enter the no. of rows:5
* * * *
* * *
* *
*

* * * *
* * *
* *
*

In [36]:
for i in range(1,n+1):
    for j in range(1,n+1-i):
        print(chr(65+j-1),end = ' ')
    print()

A B C D
A B C
A B
A

In [3]:
n = int(input('enter the value of `'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(j,end = ' ')
    print()
for i in range(1,n+1):
    for j in range(1,n+2-i):
        print(j,end = ' ')
    print()

enter the value of `5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [33]:
n = int(input('enter the no. of rows/2'))
for i in range(1,n+1):
    for j in range(1,i+1):
        print(i+j-1,end = ' ')
    print()
for i in range(1,n+1):
    for j in range(1,n+1-i+1):
        print(j,end = ' ')
    print()

enter the no. of rows/25
1
2 3
3 4 5
4 5 6 7
5 6 7 8 9
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [34]:
for i in range(7):
    for j in range(5):
        if i in{0,6}:
            print('*',end=' ')
        elif i in{1,2,3,4,5} and(j==0 or j==4):
            print('*',end=' ')
        else:
            print(' ',end=' ')

    print()

* * * * *
*       *
*       *
*       *
*       *
*       *
* * * * *

In [36]:
for i in range(7):
    for j in range(5):
        if i in (1,2,3,):
            print('*',end='')
        else:
            print('',end=' ')
    print()

*****
*****
*****