In [1]:
a  = 10
b=20
a+b

30

In [2]:
a-b

-10

In [3]:
13/2

6.5

In [4]:
13//2

6

In [5]:
2**5

32

In [6]:
2**10

1024

In [7]:
4**(1/2)

2.0

In [8]:
3%2

1

In [9]:
a = "sathya"

In [10]:
type(a)

str

In [11]:
a = 10

In [12]:
type(a)

int

In [13]:
b = 3.09

In [14]:
type(b)

float

In [15]:
a = 1

In [16]:
a = True

In [17]:
type(a)

bool

In [18]:
True+True

2

In [19]:
x = 10+20j+30+3j

In [20]:
type(x)

complex

In [21]:
a = "sathya"

In [22]:
b = "sathya"

In [23]:
id(a)==id(b)

True

In [24]:
a = 10
b=a
a = a+10
print(id(a))
id(b)
print(a,b)

140704137847792
20 10

In [25]:
#number system

In [26]:
a = 10 # decimal number system
b = 0b111
c = 0x1254
d = 0o476

In [27]:
print(a,b,c,d)

10 7 4692 318

In [28]:
p = bin(10)
q = oct(112)
r = hex(234)

In [29]:
print(p,q,r)

0b1010 0o160 0xea

In [30]:
############Strings

In [31]:
a = str(10)

In [32]:
type(a)

str

In [33]:
int(a)

10

In [34]:
bool(a)

True

In [35]:
complex(a)

(10+0j)

In [36]:
type(a)

str

In [37]:
a = "sathya"

In [38]:
for i in a:
    print(i,end=" ")

s a t h y a

In [39]:
a[:]

'sathya'

In [40]:
a[1:5]

'athy'

In [41]:
a[1:6]

'athya'

In [42]:
a[::-1]

'ayhtas'

In [43]:
a[2]

't'

In [44]:
a[0]

's'

In [45]:
a='sathya'

In [46]:
c = []
for i in a:
    c.append(i)

In [47]:
print(c)

['s', 'a', 't', 'h', 'y', 'a']

In [48]:
d = set(c)

In [49]:
d

{'a', 'h', 's', 't', 'y'}

In [50]:
string = "jjddaakkasiskkss"
a = set(string)

In [51]:
a

{'a', 'd', 'i', 'j', 'k', 's'}

In [52]:
dic = {}
for i in string:
    if i in dic:
        dic[i]+=1
    else:
        dic[i]=1
        
for i in dic:
    if dic[i]==1:
        print(i)

i

In [53]:
dic = {1:'sathya',2:'kumar',3:'reddy'}

In [54]:
dic[1]

'sathya'

In [55]:
dic[2]

'kumar'

In [56]:
dic[3]

'reddy'

In [57]:
dic[4]='reddy'

In [58]:
dic

{1: 'sathya', 2: 'kumar', 3: 'reddy', 4: 'reddy'}

In [59]:
#operators

In [60]:
10 and 20

20

In [61]:
1 and 0

0

In [62]:
20 and 1

1

In [63]:
0 and 20

0

In [64]:
1 and 10

10

In [65]:
#program of max of 3 numbers
a,b,c = 10,20,30
res = a if (a>b>c) else b if(b>c) else c

In [66]:
res

30

In [67]:
#program of min of 3 numbers
a,b,c = 1,2,43

In [68]:
result = a if(a<b<c) else b if(b<c) else c

In [69]:
result

1

In [70]:
a = list("aeiouAEIOU")

In [71]:
a

['a', 'e', 'i', 'o', 'u', 'A', 'E', 'I', 'O', 'U']

In [72]:
stri = "this is from kuppam engineering college"

In [73]:
for i in stri:
    if i not in a:
        print(i,end=" ")
    else:
        pass

t h s   s   f r m   k p p m   n g n r n g   c l l g

In [74]:
import math as m

In [75]:
m.sqrt(4)

2.0

In [76]:
m.pi

3.141592653589793

In [77]:
m.pow(2,5)

32.0

In [78]:
m.ceil(3.1)

4

In [79]:
m.floor(20.98)

20

In [80]:
m.trunc(10.9)

10

In [81]:
m.gcd(10,20)

10

In [82]:
m.inf

inf

In [83]:
m.e

2.718281828459045

In [84]:
m.pi

3.141592653589793

In [85]:
m.nan

nan

In [86]:
a= [int(x) for x in input("enter 2 num:").split(" ")]
a

enter 2 num:10

[10]

In [87]:
a,b,c,d = [10,20,30,40]

In [88]:
a

10

In [89]:
b

20

In [90]:
d

40

In [91]:
# control flow statement
a = int(input("enter num"))
if a==10:
    print(10)
elif a==5:
    print(5)
else:
    print("other value")

enter num12
other value

In [92]:
a = 22
if a ==10:
    print(10)
elif a==20:
    print(20)

In [93]:

for x in range(21):
    if x%2 !=0:
        print(x)

1
3
5
7
9
11
13
15
17
19

In [94]:
lis = eval(input())
sum = 0
for i in lis:
    sum +=i
print(sum)

12

TypeError: 'int' object is not iterable

In [ ]:
i = 10
while i>1:
    print(i)
    i -=1

In [ ]:
for i in range(1,7+1):
    for j in range(1,i+1):
        print("*",end = " ")
    print("")

In [ ]:
n = int(input(""))
for i in range(0,n+1):
    print(" "*(n-i),end=" ")
    print("*"*i*2)

In [ ]:
len('sathya')

In [ ]:
len("kumar")

In [ ]:
for i in range(1,10):
    print(i)
    if i ==3:
        break

In [ ]:
for i in range(1,10):
    if i ==5:
        continue
    print(i,end = " ")

In [ ]:
# concatination string + and * repetation
"sathya"+"kumar"

In [ ]:
"sathya"*2

In [ ]:
x = input("enter")
n = ""
for i in x:
    if i==" ":
        continue
    n = n+i
print(n)

In [ ]:
a = 'sathya'
a.endswith(a)

In [ ]:
a.endswith("a")

In [ ]:
a.startswith("e")

In [ ]:
a.startswith("s")

In [ ]:
a = "sathya"

In [ ]:
a.upper()

In [ ]:
a.lower()

In [ ]:
a.title()

In [ ]:
"sathya kumar reddy".capitalize()

In [ ]:
"sathya kumar reddy".title()

In [ ]:
a = input("")
a.isalnum()

In [ ]:
"sathya1".isalpha()

In [ ]:
"1".isnumeric()

In [ ]:
"1".isdigit()

In [ ]:
num = []
while True:
    c = input(" ")
    if num[::-1]=='q' or num[::-1]=='Q':
        break
    else:
        num.append(c)

In [95]:
a = [10,20,30]
len(a)

3

In [97]:
a.index(20)

1

In [98]:
a.append(2)

In [99]:
a

[10, 20, 30, 2]

In [100]:
a.extend('sathya')

In [101]:
a

[10, 20, 30, 2, 's', 'a', 't', 'h', 'y', 'a']

In [103]:
a.remove(10)

In [104]:
a.pop()

'a'

In [105]:
c = a.copy()

In [107]:
id(c)==id(a)

False

In [110]:
for i in a:
    a.count(i)
print(a.count(10))

0

In [111]:
a = [10,20,30]

In [112]:
a.reverse()

In [113]:
a

[30, 20, 10]

In [114]:
a.sort(reverse=False)

In [115]:
a

[10, 20, 30]

In [116]:
a.sort(reverse=True)

In [117]:
a

[30, 20, 10]

In [118]:
a = {1,2,3,4}

In [119]:
a.add(8)

In [120]:
a

{1, 2, 3, 4, 8}

In [124]:
a.update([1,2,9,8])

In [125]:
a

{1, 2, 3, 4, 8, 9}

In [132]:
a = 'sathya kumar'
b =a
c = set(a)

In [139]:
e = []
for i in a:
    e.append(i)
d = e[:]
print(d)
for j in c:
    e.remove(j)
print(e)
p = set(d)
q = set(e)
print(p,q)
q.difference(p)

['s', 'a', 't', 'h', 'y', 'a', ' ', 'k', 'u', 'm', 'a', 'r']
['a', 'a']
{'s', 'k', 't', 'r', 'h', 'm', 'a', 'y', 'u', ' '} {'a'}

set()

In [140]:
def sathya(a,b):
    print(a+b)

In [141]:
sathya(2,3)

5

In [142]:
x = lambda a:a**2

In [143]:
x(2)

4

In [144]:
x(4)

16

In [145]:
x = lambda a,b:a+b

In [146]:
x(10,2)

12

In [147]:
x =[1,2,3,4,5]
l = list(filter(lambda x:x%2==0,x))

In [148]:
l

[2, 4]

In [149]:
a = list(map(lambda x:x**2,[1,2,3,4,5]))

In [150]:
a

[1, 4, 9, 16, 25]

In [152]:
import random as r

In [155]:
r.randint(10,20)

11

In [156]:
r.random()

0.3266832236343449

In [157]:
r.randrange(1,20)

12